@model Hovedopgave1.Models.Bruger
@{
    Layout = null;
}

<style>
    body {
        background-image: url('../../Images/RedigeretForside.PNG');
        background-size: cover;
     
    }
    label{
        display:inline-block;
        width:87px;
        text-align:right;
        font-family: 'Times New Roman';
    }
</style>

<body>
<div class="panel" align ="center">
    <div class="panel-heading">
        <h3> Log In</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Login for at få adgang til forside:</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Bruger navn:</label>
                @Html.TextBoxFor(m => m.Brugernavn, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Password:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Rettighed:</label>
                @Html.TextBoxFor(m => m.Rettighed, new { @class = "form-control"})
            </div>
            <input type="submit" value="Log in" class="btn btn-primary" />
        }
    </div>
</div>
    </body>
