
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BrugerRedigeret</title>
</head>
<body>
    <div>
        <h2> En Bruger er blevet opdateret</h2>
    </div>
    <div>
        <input type="button" value="Tilbage til forside" onclick="location.href='@Url.Action("Forside", "Home")'" />
    </div>

</body>
</html>
