
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BrugerOprettet</title>
</head>
<body>
    <div> 
        <h2> Tillykke, en ny bruger er blevet oprettet</h2>
    </div>
</body>
</html>
