
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forside</title>
</head>
<body>
    <div> 
        <input type="button" value="Tryk" />
    </div>
</body>
</html>
