
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forside</title>
</head>
<body>
    <div> 
        <input type="button" class="button" value="Opret Student" onclick="location.href='@Url.Action("OpretStudent", "Home")'" />
        <input type="button" class="button" value="Student Liste" onclick="location.href='@Url.Action("StudentListe", "Home")'" />
    </div>

    <div>
        <input type="button" class="button" value="Opret Virksomhed" onclick="location.href='@Url.Action("OpretVirksomhed", "Home")'" />
        <input type="button" class="button" value="Virksomheds Liste" onclick="location.href='@Url.Action("VirksomhedListe", "Home")'"/>
    </div>

    <div>
        <input type="button" class="button" value="Opret Tilføjer" />
        <input type="button" class="button" value="Tilføjer Liste" />
    </div>

    <div>
        <input type="button" class="button" value="Opret Bruger" />
        <input type="button" class="button" value="Bruger Liste" />
    </div>

    <div>
        <input type="button" class="button" value="Udløbet Studenter" />
    </div>
</body>
</html>
