
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpretBruger</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <div> 
        <input type="text" id="Brugernavn" name="Brugernavn" placeholder="Brugernavn" />
    </div>

    <div>
        <input type="text" id="Password" name="Password" placeholder="Password" />
    </div>

    <div>
        <input type="text" id="Brugertype" name="Brugertype" placeholder="Bruger type" />
    </div>

    <div>
        <input type="submit" id="Opretbruger" value="Opret Bruger" />
    </div>
</body>
</html>
