
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpretVirksomhed</title>
</head>
<body>
    <div>
        <input type="text" id="Navn" name="Navn" placeholder="Navn" />
        <input type="text" id="KontaktPerson" name="KontaktPerson" placeholder="KontaktPerson" />
    </div>
    <div>
        <input type="text" id="Tlf.nr" name="Tlf.nr" placeholder="Tlf.nr" />
        <input type="text" id="e-mail" name="e-mail" placeholder="e-mail" />
    </div>
    <div>
        <input type="text" id="VirksomhedInfo" name="VirksomhedInfo" placeholder="VirksomhedInfo" />
        <input type="text" id="MuligeOpgaver" name="MuligeOpgaver" placeholder="Mulige Opgaver" />
    </div>
    <div>
        <input type="text" id="Profiler" name="Profiler" placeholder="Profiler" />
        <input type="text" id="OpgaveLøsning" name="OpgaveLøsning" placeholder="Opgave Løsning" />
    </div>
    <div>
        <input type="text" id="StyrkePosistion" name="StyrkePosistion" placeholder="Styrke Posistion" />
        
    </div>
    <div>
        <input type="button" id="OpretVirksomhed" value="Opret Virksomhed" />
    </div>

</body>
</html>
