
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TilføjerOprettet</title>
</head>
<body>
    <h1>En Tilføjer er blevet oprettet</h1>

    <div>
        <input type="button" value="Tilbage til forside" onclick="location.href='@Url.Action("Forside", "Home")'" />
    </div>
</body>
</html>
