
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TilflytterRedigeret</title>
</head>
<body>
    <h1>Tilflytter er blevet redigeret</h1>
    <div>
        <input type="button" value="Tilbage til forside" onclick="location.href='@Url.Action("Forside", "Home")'" />
    </div>
</body>
</html>
